# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto #

##### In this assignment, you will be required to explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet. What is interesting about the field of data science is that each project can be challenging in its unique way, so you need to learn to be agile and refine the skill to learn new libraries and tools quickly depending on the project.

##### For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. You will be required to scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.

##### Once the data is in a structured format, you can replicate the analysis that we did to the New York City dataset to explore and cluster the neighborhoods in the city of Toronto.

##### Your submission will be a link to your Jupyter Notebook on your Github repository.

##### Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [1]:
#Section for Importing Libraries
import pandas as pd

In [2]:
#reading in the data
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)

In [3]:
#cheking to see what df looks like
df

[    Postal Code           Borough  \
 0           M1A      Not assigned
 1           M2A      Not assigned
 2           M3A        North York
 3           M4A        North York
 4           M5A  Downtown Toronto
 ..          ...               ...
 175         M5Z      Not assigned
 176         M6Z      Not assigned
 177         M7Z      Not assigned
 178         M8Z         Etobicoke
 179         M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                            Regent Park, Harbourfront
 ..                                                 ...
 175                                       Not assigned
 176                                       Not assigned
 177                                       Not assigned
 178  Mimico NW, The Queensway West, South of Bloor,...
 179                                       Not assigned

 [180 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

<i> It seems that there are three "elements" read into the DataFrame df
Lets check each one one of them </i>

In [4]:
df[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [5]:
df[1]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NL,NS,PE,NB,QC,QC,QC,ON,ON,ON,ON,ON,MB,SK,AB,BC,NU/NT,YT
3,A,B,C,E,G,H,J,K,L,M,N,P,R,S,T,V,X,Y

In [6]:
df[2]

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y

<i> It seems that df[0] has the data that we need, we will extract and work on this dataset </i>

In [7]:
postal_code_M = df[0]
postal_code_M

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

##### To create the require dataframe:

##### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood âœ“

In [8]:
postal_code_M.rename(columns={'Postal Code': 'PostalCode'}, inplace = True)

##### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned. âœ“ 

<i> Check to see which rows have borough as "not assigned" </i>

In [9]:
postal_code_M[postal_code_M['Borough'] == 'Not assigned']

    PostalCode       Borough Neighbourhood
0          M1A  Not assigned  Not assigned
1          M2A  Not assigned  Not assigned
7          M8A  Not assigned  Not assigned
10         M2B  Not assigned  Not assigned
15         M7B  Not assigned  Not assigned
..         ...           ...           ...
174        M4Z  Not assigned  Not assigned
175        M5Z  Not assigned  Not assigned
176        M6Z  Not assigned  Not assigned
177        M7Z  Not assigned  Not assigned
179        M9Z  Not assigned  Not assigned

[77 rows x 3 columns]

<i> Therefore the above 77 rows will have to be removed from the dataset<br>
Lets create a new dataframe to contain the new set </i>

In [10]:
#Remove "Not assigned" from the DataFrame, reset index and drop column 'index'
M_with_borough = postal_code_M[postal_code_M['Borough'] != 'Not assigned'].reset_index().drop(['index'], axis=1)
M_with_borough

,PostalCode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

##### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table. âœ“ 
<i>Check to see if there are any duplicate in PostalCode </i>

In [11]:
M_with_borough[M_with_borough.duplicated(['PostalCode'])]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

<i>Apparently, no two rows have the same Postal Code <br>
Lets check M5A to make sure the requirement is indeed true.</i>

In [12]:
M_with_borough[M_with_borough['PostalCode'] == 'M5A']

  PostalCode           Borough              Neighbourhood
2        M5A  Downtown Toronto  Regent Park, Harbourfront

<i> it seems that Neighbourhoods that shares the same Postal Code are already merged into one row separated with a comma, moving on... </i>

##### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.âœ“

In [13]:
postal_code_M[(postal_code_M['Neighbourhood'] == 'Not assigned') & (postal_code_M['Borough'] != 'Not assigned')]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

<i> hence, there are no cells has a borough but a Not assigned neighborhood </i>

##### Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.âœ“

In [14]:
M_with_borough

,PostalCode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

##### In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe. âœ“

In [15]:
M_with_borough.shape

(103, 3)

### Part 2
<i> The given package that was suggested in the assignment questionnaire did not yield any results... I will use the google API method to retrieve the data needed </i>

In [16]:
import re
himitsu = open("himitsu.txt", "r")
API = re.search('(?<=Google API:)\S+',re.findall(r'Google API:.*', himitsu.read())[0])[0]

In [18]:
Tor_borough_xy = M_with_borough

from geopy.geocoders import GoogleV3
import time

geolocator = GoogleV3(api_key=API)
Tor_borough_xy['Longitude'] =''
Tor_borough_xy['Latitude'] =''

for x in range(len(Tor_borough_xy['PostalCode'])):
    time.sleep(1) #to add delay in case of large DFs
    geocode_result = geolocator.geocode('{}, Toronto, Ontario'.format(Tor_borough_xy['PostalCode'][x]))
    Tor_borough_xy['Latitude'][x] = geocode_result[1][0]    
    Tor_borough_xy['Longitude'][x] = geocode_result[1][1]
    print(str(x+1) + ' Out Of '+ str(len(Tor_borough_xy)) + ' --> ' + geocode_result[0])

Tor_borough_xy

1 Out Of 103 --> North York, ON M3A, Canada
2 Out Of 103 --> North York, ON M4A, Canada
3 Out Of 103 --> Toronto, ON M5A, Canada
4 Out Of 103 --> North York, ON M6A, Canada
5 Out Of 103 --> North York, ON M7A, Canada
6 Out Of 103 --> Etobicoke, ON M9A, Canada
7 Out Of 103 --> Scarborough, ON M1B, Canada
8 Out Of 103 --> North York, ON M3B, Canada
9 Out Of 103 --> Toronto, ON M4B, Canada
10 Out Of 103 --> Toronto, ON M5B, Canada
11 Out Of 103 --> Toronto, ON M6B, Canada
12 Out Of 103 --> Etobicoke, ON M9B, Canada
13 Out Of 103 --> Scarborough, ON M1C, Canada
14 Out Of 103 --> Toronto, ON M3C, Canada
15 Out Of 103 --> Toronto, ON M4C, Canada
16 Out Of 103 --> Toronto, ON M5C, Canada
17 Out Of 103 --> Toronto, ON M6C, Canada
18 Out Of 103 --> Etobicoke, ON M9C, Canada
19 Out Of 103 --> Scarborough, ON M1E, Canada
20 Out Of 103 --> Toronto, ON M4E, Canada
21 Out Of 103 --> Toronto, ON M5E, Canada
22 Out Of 103 --> Toronto, ON M6E, Canada
23 Out Of 103 --> Scarborough, ON M1G, Canada
24 Out Of 103 --> North York, ON M4G, Canada
25 Out Of 103 --> Toronto, ON M5G, Canada
26 Out Of 103 --> Toronto, ON M6G, Canada
27 Out Of 103 --> Scarborough, ON M1H, Canada
28 Out Of 103 --> North York, ON M2H, Canada
29 Out Of 103 --> North York, ON M3H, Canada
30 Out Of 103 --> Toronto, ON M4H, Canada
31 Out Of 103 --> Toronto, ON M5H, Canada
32 Out Of 103 --> Toronto, ON M6H, Canada
33 Out Of 103 --> Scarborough, ON M1J, Canada
34 Out Of 103 --> North York, ON M2J, Canada
35 Out Of 103 --> North York, ON M3J, Canada
36 Out Of 103 --> Toronto, ON M4J, Canada
37 Out Of 103 --> Toronto, ON M5J, Canada
38 Out Of 103 --> Toronto, ON M6J, Canada
39 Out Of 103 --> Scarborough, ON M1K, Canada
40 Out Of 103 --> North York, ON M2K, Canada
41 Out Of 103 --> North York, ON M3K, Canada
42 Out Of 103 --> Toronto, ON M4K, Canada
43 Out Of 103 --> Toronto, ON M5K, Canada
44 Out Of 103 --> Toronto, ON M6K, Canada
45 Out Of 103 --> North York, ON M1L, Canada
46 Out Of 103 --> North York, ON M2L, Canada
47 Out Of 103 --> North York, ON M3L, Canada
48 Out Of 103 --> Toronto, ON M4L, Canada
49 Out Of 103 --> Toronto, ON M5L, Canada
50 Out Of 103 --> North York, ON M6L, Canada
51 Out Of 103 --> North York, ON M9L, Canada
52 Out Of 103 --> Scarborough, ON M1M, Canada
53 Out Of 103 --> North York, ON M2M, Canada
54 Out Of 103 --> North York, ON M3M, Canada
55 Out Of 103 --> Toronto, ON M4M, Canada
56 Out Of 103 --> Toronto, ON M5M, Canada
57 Out Of 103 --> Toronto, ON M6M, Canada
58 Out Of 103 --> North York, ON M9M, Canada
59 Out Of 103 --> Scarborough, ON M1N, Canada
60 Out Of 103 --> North York, ON M2N, Canada
61 Out Of 103 --> North York, ON M3N, Canada
62 Out Of 103 --> Toronto, ON M4N, Canada
63 Out Of 103 --> Toronto, ON M5N, Canada
64 Out Of 103 --> Toronto, ON M6N, Canada
65 Out Of 103 --> Toronto, ON M9N, Canada
66 Out Of 103 --> Scarborough, ON M1P, Canada
67 Out Of 103 --> North York, ON M2P, Canada
68 Out Of 103 --> North York, ON M4P, Canada
69 Out Of 103 --> York, ON M5P, Canada
70 Out Of 103 --> Toronto, ON M6P, Canada
71 Out Of 103 --> Etobicoke, ON M9P, Canada
72 Out Of 103 --> North York, ON M1R, Canada
73 Out Of 103 --> North York, ON M2R, Canada
74 Out Of 103 --> North York, ON M4R, Canada
75 Out Of 103 --> Toronto, ON M5R, Canada
76 Out Of 103 --> Toronto, ON M6R, Canada
77 Out Of 103 --> Mississauga, ON M7R, Canada
78 Out Of 103 --> Etobicoke, ON M9R, Canada
79 Out Of 103 --> Scarborough, ON M1S, Canada
80 Out Of 103 --> Toronto, ON M4S, Canada
81 Out Of 103 --> Toronto, ON M5S, Canada
82 Out Of 103 --> Toronto, ON M6S, Canada
83 Out Of 103 --> Scarborough, ON M1T, Canada
84 Out Of 103 --> Toronto, ON M4T, Canada
85 Out Of 103 --> Toronto, ON M5T, Canada
86 Out Of 103 --> Scarborough, ON M1V, Canada
87 Out Of 103 --> Toronto, ON M4V, Canada
88 Out Of 103 --> Toronto, ON M5V, Canada
89 Out Of 103 --> Etobicoke, ON M8V, Canada
90 Out Of 103 --> Etobicoke, ON M9V, Canada
91 Out Of 103 --> Scarborough, ON M1W, Canada
92 Out Of 103 --> Toronto, ON M4W, Canada
93 Out Of 103 --> Toronto, ON M5W, Canada
94 Out Of 103 --> Etobicoke, ON M8W, Canada
95 Out Of 103 --> Etobicoke, ON M9W, Canada
96 Out Of 103 --> Scarborough, ON M1X, Canada
97 Out Of 103 --> Toronto, ON M4X, Canada
98 Out Of 103 --> Toronto, ON M5X, Canada
99 Out Of 103 --> Etobicoke, ON M8X, Canada
100 Out Of 103 --> Toronto, ON M4Y, Canada
101 Out Of 103 --> Toronto, ON M7Y, Canada
102 Out Of 103 --> Etobicoke, ON M8Y, Canada
103 Out Of 103 --> Etobicoke, ON M8Z, Canada

,PostalCode,Borough,Neighbourhood,Longitude,Latitude
0,M3A,North York,Parkwoods,-79.3297,43.7533
1,M4A,North York,Victoria Village,-79.3156,43.7259
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",-79.3606,43.6543
3,M6A,North York,"Lawrence Manor, Lawrence Heights",-79.4648,43.7185
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",-79.3895,43.6623
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",-79.5069,43.6537
99,M4Y,Downtown Toronto,Church and Wellesley,-79.3832,43.6659
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",-79.3216,43.6627
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",-79.4985,43.6363
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",-79.521,43.6288